[alias]
    a = add
    c = commit
    u = push
    m = merge
    s = status
    ss = status -s
    ob = "!f() { git fetch && git pull --rebase && git checkout -b $1; }; f"
    obr = "!f() { git fetch && -*+-++++++git checkout -b $1 $2; }; f"
    us = !git push --set-upstream origin `git symbolic-ref --short HEAD`